<!DOCTYPE html>
<html>
	<head>
		<title><?= $_->{name} ?></title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/css/base.css" media="screen,tv"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
		<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
	</head>
	<body>
		<div id="whole">
			<h1 id="top"><a href="/"><?= $_->{name} ?></a></h1>

			<div id="content">
			</div>

			<div id="footer">
			</div>
		</div>
	</body>
</html>
